/* font */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");

/* variables */
:root {
  --primary: #4f515a;
  --secondary: #ebebeb;
  --warning: #da0f41;
}

/* base style */
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  color: var(--primary);
}

p{
  font-size: 2rem;
}

body {
  background-color: #fafafa;
}

a {
  text-decoration: none;
}

/* buttons */
button,
.btn {
  background: var(--secondary);
  border-radius: 0.8rem;
  border: none;
  padding: 0.8rem 1.2rem;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
}

button:hover,
.btn:hover {
  background: var(--primary);
  color: white;
}

button:disabled {
  opacity: 0.5;
  color: var(--primary);
  background: var(--secondary);
  cursor: not-allowed;
}

/* forms */
form {
  max-width: 50rem;
  margin: 0 auto;
  padding: 3rem;
  border-radius: .8rem;
  box-shadow: .1rem .2rem .3rem rgba(50, 50, 50, 0.05);
  border: .1 solid var(--secondary);
  background: white;
}
input,
textarea {
  border: 0;
  border-bottom: .1rem solid var(--secondary);
  padding: 1rem;
  outline: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 2rem auto;
}

/* error text */
.error {
  color: var(--warning);
  font-size: 1.4rem;
  margin: 1.6rem 0;
}
